body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#vsebina {
 
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#kanal {
  background-color: #FFFF99;
  margin-bottom: 1em;
}

#sporocila {
  width: 85%;
  height: 300px;
  overflow: auto;
  background-color: #FFFFCC;
  margin-bottom: 1em;
  margin-right: 10px;
}

#seznam {
  float: right;

  width: 15%;

  
  

  height: 300px;
  overflow: auto;
}

#seznam-kanalov {
  float: right;
  width: 100px;
  height: 150px;
  overflow: auto;
}


#seznam-uporabnikov {
  float: left;
  
  width: 100px;
  height: 150px;
  overflow: auto;
}

#seznam-uporabnikov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-uporabnikov div:hover {
  background-color: #ddd;
}



#seznam-kanalov div {
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

#seznam-kanalov div:hover {
  background-color: #ddd;
}

#poslji-sporocilo {
  width: 75%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#pomoc {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}